@import url('https://fonts.googleapis.com/css?family=B612+Mono:400,700');

body {
    font-family: 'B612 Mono', monospace;
}
/*------------------------------Nav*/


.zexi-logo {
    vertical-align: middle;
    margin-left: 35px;
    float: left;
}


.header-container {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.55); 
}

#nav {
    z-index: 9999;
}

.navbar-brand {
    text-transform: uppercase;
}


.menu-item {
    text-align: center;
    padding-top: 50px;
}

.menu-item a {
    font-family: 'B612 Mono', monospace;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-item a:hover {
    color: #9932cc;
    text-decoration: none;
}

/*------------------------------Mobile Nav*/

.navbar-inverse .navbar-nav > li > a {
    padding-top: 40px;
    padding-left: 40px;
    display: inline-block;
    margin-left: 25px;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}    


.icon-bar {
    color: #9d9d9d;
}

/*--------------------------------------------------Containers*/

/*------------------------------Watch live container*/

.watch-live-container {
    height: 70vh;

    background: url('/images/ztvf.PNG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.watch-live-btn {
    color: #fff;
    background-color: #9932cc;
    border-color: #9932cc00;
    border-radius: 25px;
}

.btn-success:hover {
    color: #fff;
    background-color: #8c22a9a1;
    border-color: #b826c300;
}

.btn-success:active {
    color: #fff;
    background-color: #8c22a9a1;
    border-color: #b826c300;
}

.btn-success:active:focus {
    color: #fff;
    background-color: #8c22a9a1;
    border-color: #b826c300;
}

.btn-success:focus {
    color: #fff;
    background-color: #9932cc;
    border-color: #9932cc08;
}

/*------------------------------Schedule container*/

.schedule-container {
    height: 70vh;

    background: url('/images/twitch.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.schedule-btn {
    color: #fff;
    background-color: #9932cc;
    border-color: #9932cc00;
    border-radius: 25px;
}

/*------------------------------Nexx container*/

.nexx-container {
    height: 70vh;

    background: url('/images/nexxl.PNG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nexx-btn {
    color: #fff;
    background-color: #9932cc;
    border-color: #9932cc00;
    border-radius: 25px;
    margin-top: 25px;
}

/*------------------------------Contact container*/

.contact-container {
    height: 70vh;

    background: url('/images/pikatwitch.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#work-callout {
    color: white;
    font-size: 50px;
}


/*------------------------------About Containers*/

/*-----------Index*/

.about-container {
    background-color: #0c0c0c;
    color: #fff;
    min-height: 120px;
}

.about-section {
    background-color: #0c0c0c;
    margin-top: 65px;
    margin-left: 40px;
    text-transform: uppercase;
}

.about-section p strong {
    font-size: 20px;
}

#matt {
    max-height: 400px;
    margin-left: 150px;
    border-radius: 50px;
    padding: 30px;
}


/*-----------Schedule*/

.schedule-about-container {
    background-color: #0c0c0c;
    color: #fff;
    min-height: 120px;
}

.schedule-section {
    background-color: #0c0c0c;
    padding: 10px;
    text-transform: uppercase;
}

.schedule-section p strong {
    font-size: 20px;
    padding: 50px;
}

.schedule-section > p {
    padding: 50px;
}

.weekday-item {
    padding: 1em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.weekday-item p {
    padding: 0;
    margin: 0;
}

.weekday-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "B612 Mono", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.weekday-item::after{
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.week-stream-items {
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 40%;
}

/*-----------Nexx*/

.nexx-about-container {
    background-color: #0c0c0c;
    color: #fff;
    min-height: 120px;
}

.nexx-section {
    background-color: #0c0c0c;
    margin-top: 65px;
    margin-left: 40px;
    text-transform: uppercase;
}

.nexx-section p strong {
    font-size: 20px;
}

.nexx-vids {
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 45px;
}

.nexx-vids p strong {
    text-transform: uppercase;
    font-size: 20px;
}

.nexx-vids-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nexx-vid-title {
    margin-top: 50px;
}

/*-----------Contact*/

.contact-about-container {
    background-color: #0c0c0c;
    color: #fff;
    min-height: 120px;
    text-transform: uppercase;
    padding: 20px;
}

.contact-section {
    background-color: #0c0c0c;
    margin-top: 65px;
    margin-left: 40px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.contact-section p strong {
    font-size: 20px;
    padding-top: 20px;
}

.git-container p strong {
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px;
}

.git-form {
    display: inline-grid;
} 

.form-input {
    background-color: #0000;
    display: inline-block;
    margin: 10px;
    border-radius: 25px;
    text-align: center;
    text-transform: uppercase;
    border-color: #9932cc94;
    margin-top: 50px;
    margin-left: 50px;
}

.form-input-message {
    padding-bottom: 50px;
}

ul {
    padding-bottom: 10px;
    padding-top: 20px;
}

/*------------------------------Footer*/


footer {
    background-color: #fff;
    color: #000;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
    
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fff;
    background: #000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.watermark {
    margin-top: 70px;
}

.social-links li a i:hover {
    background: #9932cc;
}

.social-title {
    text-transform: uppercase;
}

#footer-details {
    margin: 20px;
} 

/*------------------Media queries*/

@media (max-width: 767px) {
    .watch-live-container {
    height: 70vh;
    background: url('/images/mattset.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .contact-container {
    height: 70vh;

    background: url('/images/pikatwitchm.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .about-section {
    background-color: #0c0c0c;
    margin: 20px;
}
    img {
    vertical-align: middle;
    margin-left: 25px;
}

    .week-stream-items {
    padding-top: 30px;
}

    .schedule-section p strong {
    font-size: 35px;
    padding-left: 70px;
}

    .nexx-btn {
    margin-bottom: 50px;
}
}

@media (max-width: 991px) {
    .nexx-container {
    height: 70vh;

    background: url('/images/nlgm.PNG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    
    .about-section {
    background-color: #0c0c0c;
    margin-top: 50px;
    margin-left: 10px;
    padding: 20px;
}
    #matt {
    max-height: 400px;
    margin-left: 280px;
    border-radius: 50px;
    padding: 30px;
}

    .menu-item {
    display: inline-block;
    padding-left: 35px;
}
}